@font-face { /* For not Internet Connection loads font from file */
    font-family: "Raleway";
    src: url("fonts/Raleway-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(242,242,242);
}

hr {
    background-color: rgb(43,43,43);
    width: 80%;
    height: 1px;
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* SLIDER */

.slider-box {
    -moz-animation: autoSlider 15s infinite ease-in-out;
    -o-animation: autoSlider 15s infinite ease-in-out;
    -webkit-animation: autoSlider 15s infinite ease-in-out;
    animation: autoSlider 15s infinite ease-in-out;

    height: 100%;
    width: 400%;
}

#slider-container-left {
    max-height: 55vh;
    overflow: hidden;
    text-align: left;
    width: 50%;
    z-index: -10;
}

#slider-container-right {
    max-height: 55vh;
    overflow: hidden;
    text-align: right;
    width: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -10;
}

.image {
    width: 100%;
}

.slider-element {
    float: left;
    width: 25%;
}

@-moz-keyframes autoSlider {
    0% { margin-left: 0; }

    20% { margin-left: 0;}

    25% { margin-left: -100%; }

    45% { margin-left: -100%; }

    50% { margin-left: -200%; }

    70% { margin-left: -200%; }

    75% { margin-left: -300%; }

    95% { margin-left: -300%; }

    100% { margin-left: 0; }
}

@-webkit-keyframes autoSlider {
    0% { margin-left: 0; }

    20% { margin-left: 0;}

    25% { margin-left: -100%; }

    45% { margin-left: -100%; }

    50% { margin-left: -200%; }

    70% { margin-left: -200%; }

    75% { margin-left: -300%; }

    95% { margin-left: -300%; }

    100% { margin-left: 0; }
}

@keyframes autoSlider {
    0% { margin-left: 0; }

    20% { margin-left: 0;}

    25% { margin-left: -100%; }

    45% { margin-left: -100%; }

    50% { margin-left: -200%; }

    70% { margin-left: -200%; }

    75% { margin-left: -300%; }

    95% { margin-left: -300%; }

    100% { margin-left: 0; }
}

/*END SLIDER*/

/* NAVIGATION BAR*/

#navigation-menu {
    margin-top: -60px;
    /*position: relative;
    top: 0px;
    right: 0px;*/
    float: right;
}

#navigation-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*border-right: 1px solid rgb(43,43,43);*/
}

#navigation-menu ul li {
    float: left;
}

#navigation-menu ul li a {
    display: block;
    cursor: pointer;
    width: 120px;
    height: 60px;
    color: #000000;
    background-color: rgba(242,242,242,0.5);
    text-align: center;
    text-decoration: none;
    line-height: 60px;
    border-left: 1px solid rgb(43,43,43);

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

#navigation-menu ul li a:hover {
    background-color: rgba(43,43,43,0.8);
    color: #FFFFFF;
}

/* END NAVIGATION BAR*/

/* ABOUT US */
#page {
    margin: 20px 30px 20px 30px;
}

#about-us p {
    text-align: justify;
}

/* END ABOUT US */

/* GALLERY */
#gallery {
    padding-right: 10px;
    padding-bottom: 20px;
}

.gallery-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.gallery-item {
    padding: 0px 5px 5px 5px;
    margin-bottom: 10px;
    line-height: 150px;
    width: 200px;
    height: 150px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.gallery-item img {
    width: 200px;
    height: 150px;
    cursor: pointer;
    -webkit-box-shadow: 7px 7px 11px 0px rgba(50,50,50,0.75);
    -moz-box-shadow: 7px 7px 11px 0px rgba(50,50,50,0.75);
    box-shadow: 7px 7px 11px 0px rgba(50,50,50,0.75);
    
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.gallery-item img:hover {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(50,50,50,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(50,50,50,0.75);
    box-shadow: 0px 0px 0px 0px rgba(50,50,50,0.75);
}


.gallery-item-expanded-black {
    width: 100%;
    height: 100%;
    background-color: rgba(43,43,43,0.8);
    position: fixed;
    top: 0px;
    left: 0px;
}

.gallery-nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    background-color: rgba(43,43,43,1);
}

.gallery-nav-bar span {
    padding: 2px;
    margin-left: 30px;
    color: rgb(242,242,242);
}

.gallery-nav-bar span:hover {
    color: rgb(180,180,180);
}

.gallery-item-expanded-image img {
    position: fixed;
    max-width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 3px;
    max-height: 90%;
    max-width: 90%;
}

.gallery-item-expanded-image img:empty {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* END GALLERY */

/* PRIZES */
#prices-list {
    margin-bottom: 40px;
}

h2 {
    text-align: right;
    margin-bottom: 3px;
}

.two-cols {
    text-align: center;
    width: 100%;
    border-spacing: 0px;
    border: 1px solid rgb(43,43,43);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.two-cols tr td {
    padding: 10px 14px 10px 14px;
}

.sale {
    background-color: #ee5353;
}

.two-cols tr td:first-child, .two-cols tr td:nth-child(3) {
    border-right: 1px solid rgb(43,43,43);
}

.two-cols tr td:nth-child(2) {
    border-right: 3px solid rgba(43,43,43,0.8);
}
/* END PRIZES */

/* CONTACT US */

.contact-text {
    float: left;
    max-width: 900px;
}

.contact-map {
    width: 400px;
    height: 300px;
    border: 0;
    float: right;
    margin-bottom: 30px;
}

/* END CONTACT US */


/* FOOTER */
#footer {
    clear: both;
    height: 80px;
    width: 100%;
    background-color: rgba(43,43,43,0.8);

    font-style: italic;
    color: rgb(242,242,242);
    font-size: 12px;
}

#footer p {
    padding-left: 30px;
    padding-right: 30px;
}

#footer-menu {
    padding: 10px 30px 10px 30px;
}

#footer-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#footer-menu ul li {
    float: left;
}

#footer-menu ul li:first-child a {
    border-left: 1px solid rgb(43,43,43);
}

#footer-menu ul li a {
    display: block;
    cursor: pointer;
    color: #000000;
    text-align: center;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
    border-right: 1px solid rgb(43,43,43);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#footer-menu ul li a:hover {
    color: #FFFFFF;
}
/* END FOOTER */